*.pyc

*~
.DS_Store
*~
*#
.#
*randomConeProb.py

cvxbenchmarks/old

# gurobi
gurobi.log

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Keep lib folder
!cvxbenchmarks/lib
