# This is automatically-generated code.

# Uses the jinja2 library for templating.

# {{ problem_name }}

from cvxpy import *
import numpy as np

# Variable declarations
{% block vars%} {% endblock %}

# Problem construction
{% block problem %} {% endblock %}

# For debugging individual problems:
if __name__ == "__main__":
	prob.solve()
	print "status:", prob.status
	print "optimal value", prob.value
