# This is automatically-generated code.

# Uses the jinja2 library for templating.

{% block problemFile %}
import cvxpy as cp
import numpy as np
import scipy as sp

# setup
{% block setup %}
problemID = "{{ problemID }}"
prob = None
opt_val = None
{% endblock setup %}



# Variable declarations
{% block vars %} {% endblock vars %}

# Problem construction
{% block problem %} {% endblock problem%}

# Problem collection
{% block collectproblems %}
# Single problem collection
problemDict = {
    "problemID" : problemID,
    "problem"   : prob,
    "opt_val"   : opt_val
}
problems = [problemDict]
{% endblock collectproblems %}

{% block run %}
# For debugging individual problems:
if __name__ == "__main__":
    def printResults(problemID = "", problem = None, opt_val = None):
        print(problemID)
        problem.solve()
        print("\tstatus: {}".format(problem.status))
        print("\toptimal value: {}".format(problem.value))
        print("\ttrue optimal value: {}".format(opt_val))
    printResults(**problems[0])
{% endblock run %}

{% endblock problemFile %}
