{% extends "chebyshev.j2" %}

{% block problem %}
x = cp.Variable(n)
t = cp.Variable(k)

f = cp.max_entries(t+cp.abs(B*x-c))
C = []
for i in range(k):
    C.append(cp.pnorm(A[i]*x, 2) <= t[i])

prob = cp.Problem(cp.Minimize(f), C)
opt_val = None
{% endblock %}
