{% extends "problem.j2" %}    

{% block vars %}
def normalized_data_matrix(m, n, mu):
    if mu == 1:
        # dense
        A = np.random.randn(m, n)
        A /= np.sqrt(np.sum(A**2, 0))
    else:
        # sparse
        A = sp.rand(m, n, mu)
        A.data = np.random.randn(A.nnz)
        N = A.copy()
        N.data = N.data**2
        A = A*sp.diags([1 / np.sqrt(np.ravel(N.sum(axis=0)))], [0])

    return A

np.random.seed({{ seed }})
m = {{ m }}
n = {{ n }}
k = {{ k }}
A = [normalized_data_matrix(m,n,1) for i in range(k)]
B = normalized_data_matrix(k,n,1)
c = np.random.rand(k)
{% endblock %}

{% block problem %}
x = cp.Variable(n)
obj_list = [cp.pnorm(A[i]*x, 2) + cp.abs(B[i,:]*x - c[i]) for i in range(k)]
f = cp.max_elemwise(obj_list)

prob = cp.Problem(cp.Minimize(f))
{% endblock %}