# This is automatically-generated code.

# Uses the jinja2 library for templating.

{% block problemFile %}
import cvxpy as cp
import numpy as np
import scipy as sp

{% block problemID %}
problemID = "{{ problemID }}"
{% endblock %}

# Variable declarations
{% block vars %} {% endblock %}

# Problem construction
problems = {}
opt_val = None
{% block problem %} {% endblock %}

# For debugging individual problems:
if __name__ == "__main__":
    for problemID in problems:
        print(problemID)
        prob.solve()
        print("\tstatus:", prob.status)
        print("\toptimal value:", prob.value)
        print("\ttrue optimal value:", opt_val)
{% endblock %}
