{% extends "utils/problem.j2" %}
{% import "utils/helpers.j2" as helpers %}

{% block vars %}
import scipy.sparse as sps
import scipy.linalg as la

{{ helpers.normalized_data_matrix() }}

np.random.seed({{ seed }})
m = {{ m }}
n = {{ n }}
mu = {{ mu }}
rho = {{ rho }}
sigma = {{ sigma }}

A = normalized_data_matrix(m, n, mu)
x0 = sps.rand(n, 1, rho)
x0.data = np.random.randn(x0.nnz)
x0 = x0.toarray().ravel()

b = np.sign(A.dot(x0) + sigma*np.random.randn(m))
A[b>0,:] += 0.7*np.tile([x0], (np.sum(b>0),1))
A[b<0,:] -= 0.7*np.tile([x0], (np.sum(b<0),1))

P = la.block_diag(np.random.randn(n-1,n-1), 0)

lam = 1
{% endblock %}

{% block problem %}
# Unconstrained formulation
x = cp.Variable(n)
z = 1 - sps.diags([b],[0])*A*x + cp.norm1(P.T*x) 
f = lam*cp.sum_squares(x) + cp.sum_entries(cp.max_elemwise(z, 0))
prob = cp.Problem(cp.Minimize(f))
{% endblock %}